{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam saepe repudiandae, necessitatibus laboriosam sunt fugit consequuntur sit sapiente nobis culpa, 
    recusandae optio quia distinctio aliquid quisquam? Quisquam, laudantium vitae neque, excepturi laboriosam corporis nobis ratione et praesentium non alias voluptate 
    atque quidem. Vitae asperiores odit velit cum dolorem sed veritatis explicabo veniam nostrum quidem exercitationem nobis fuga saepe quas itaque placeat ipsa obcaecati 
    reprehenderit et, voluptatum nesciunt. Temporibus accusantium dolore dicta, veritatis nam laboriosam provident fugiat non rem quam minus blanditiis tenetur. 
    Fuga, dolores debitis quis aperiam dolorem atque, cupiditate dolor labore, perferendis est rerum eveniet rem sapiente quas voluptate.</p>
{% endblock %}